@import "../../../variables";
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.container {
  width: 100vw;
  height: 200px;
  @media (max-width: $md) {
    height: 125px;
    .menu {
      display: none;
    }
  }
}

.menuIcon {
  display: "inline-block";
  font-size: 2rem;
  margin-right: 25px;
  float: right;
  cursor: pointer;
}

.logo {
  font-family: "Lobster", cursive;
  padding-top: 25px;
  font-size: 3rem;
  text-align: center;
}

.menu {
  padding: 25px;
  text-align: center;
  li {
    display: inline-block;
  }
}

.link {
  padding: 1rem 3rem;
  color: $black;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
