@import "../../../variables";
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.container {
  width: 100vw;
  @media (max-width: $md) {
    .menu {
      display: none;
    }
  }
  @media (min-width: $md) {
    .menuIcon {
      display: none;
    }
  }
}

.menuIcon {
  display: "inline-block";
  font-size: 2rem;
  margin-left: 2rem;
  float: left;
  color: $black;
  cursor: pointer;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.cartIcon {
  display: "inline-block";
  font-size: 2rem;
  margin-right: 2rem;
  float: right;
  text-decoration: none;
  color: $black;
  cursor: pointer;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.logo {
  font-family: "Lobster", cursive;
  padding: 1.5rem 0;
  font-size: 3rem;
  text-align: center;
}

.menu {
  padding-bottom: 2rem;
  text-align: center;
  li {
    display: inline-block;
    font-weight: bold;
  }
}

.menuDrawer {
  li {
    display: block;
    padding: 1rem 1.25rem;
    font-weight: bold;
  }
}

.link {
  padding: 1rem 3rem;
  color: $black;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
