@import "../variables.scss";

.imageContainer {
  display: inline-block;
  width: 50%;
  .image {
  }
  .imageList {
    width: 100%;
    .imageListItem {
      width: 25%;
      padding: 2% 2% 0 0;
    }
  }
}

.contentContainer {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 0 2rem;
  .price {
    font-size: 1.5rem;
  }

  .salePrice {
    font-size: 1.5rem;
    color: red;
    font-style: italic;
  }

  .saleDiscout {
    color: red;
    font-style: italic;
  }

  .oldPrice {
    font-size: 1.5rem;
    text-decoration: line-through;
  }

  .title {
    font-size: 2rem;
  }

  .newArrival {
    font-style: italic;
  }

  .sizes {
    margin-top: 2rem;
    .size {
      border: 1px solid rgba(0, 0, 0, 0.096);
      margin: 0.25rem;
      display: inline-block;
      min-width: 4rem;
      text-align: center;
      cursor: pointer;
    }
    .activeSize {
      border: 1px solid rgba(0, 0, 0, 0.096);
      background-color: $grey;
      color: $white;
      margin: 0.25rem;
      display: inline-block;
      min-width: 4rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .colors {
    margin-top: 1rem;
    max-width: 20rem;
    .colorBoxContainer {
      width: 2rem;
      height: 2rem;
      display: inline-block;
      .colorBox {
        margin: 0.25rem auto;
        padding: auto;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid grey;
        border-radius: 50%;
        cursor: pointer;
      }
      .activeColorBox {
        display: inline-block;
        padding: auto;
        width: 2rem;
        height: 2rem;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .addToCartButton {
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 1px solid $grey;
    line-height: 3rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $secondary;
    }
    &:active {
      background-color: $primary;
    }
    .addToCartIcon {
      display: inline-block;
      color: $black;
      height: 3rem;
      width: 3rem;
      text-align: center;
      vertical-align: middle;
    }
    .addToCartDivider {
      display: inline-block;
      width: 1px;
      height: 2.5rem;
      background-color: $grey;
      vertical-align: top;
      margin: 0.25rem;
    }
    .addToCartText {
      display: inline-block;
      color: $black;
      height: 3rem;
      width: 15rem;
      text-align: center;
      vertical-align: middle;
    }
  }

  .description {
    margin-top: 1rem;
  }
}
