@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  div[role="button"] {
    outline: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $primary;
  }
}

.layoutMainContent {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.0875rem 1.45rem;
  padding-bottom: 100px;

  @media (max-width: $lg) {
    padding-bottom: 200px;
  }
  @media (max-width: $md) {
    padding-bottom: 200px;
  }
  @media (max-width: $sm) {
    padding-bottom: 300px;
  }
}

.layoutMainFooter {
  position: absolute;
  bottom: 0;
}
