@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.container {
  width: 100vw;
  height: 100%;
  background-color: $primary;
}

.content {
  text-align: center;
}

.logo {
  font-family: "Lobster", cursive;
  padding-top: 1rem;
  font-size: 2rem;
  display: inline-block;
}

.menu {
  display: inline-block;
  padding: 1.5rem;
  vertical-align: top;
  .link {
    &:hover {
      color: $grey;
    }
  }
}

.icon {
  margin: 0 5px;
  font-size: 2rem;
  text-decoration: none;
  color: $black;
}
